.HeaderContainer {
  background: url("/assets/images/header_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.HeaderContainer > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(11, 16, 19, 0) 0%,
    rgba(18, 27, 33, 0.756765) 13.54%
  );
}

.HeaderBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: calc(10px + 5vw);
}

.HeaderBody h3 {
  font-size: calc(10px + 2vw);
  margin: 0;
  line-height: calc(12px + 2vw);
}

.HeaderBody h1 {
  font-size: calc(10px + 6vw);
  margin: 0;
  line-height: calc(24px + 6vw);
}

.HeaderBody p {
  font-size: calc(6px + 2vw);
  width: 50%;
  text-align: center;
  line-height: calc(12px + 2vw);
}

.HeaderBody > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeaderBody > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(10px + 1vw);
  width: calc(20px + 10%);
}
